header{   
    width: 375px;
    height: 56px;
    display: flex;
    justify-content: space-between;
   


}
.Canopy{
    font: weight 700px;
    list-style-type: none;
    color: #344563;
  }
  .para1{
    font-family: poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #344563;
  }
#logo{
   
    width: 100px;
    height: 40px;
    margin-top: 4px;
    margin-left: 12px;

}
#logo h1{
    font-family: Poppins, serif;
font-size: 18px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #6070FF;

}
#ham{
    
    width: 40px;
    height: 40px;
    margin-top: 4px;
    margin-right: 12px;
    display: flex;
}
#ham img{
    align-items: center;
    justify-items: center;
}
.footer{
    margin-top:1px ;
    border: 1px solid black;
    background-image: url('./Assets/header.svg');
    background-repeat: no-repeat;
    width: 375px;
    height:604px;
    background-color: white;
    

    
}
.intro{

    margin-top: 100px;
    margin-left: 24px;
    margin-right: 24px;

    

}
.intro p{
  
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0em;
    color: #172B4D;
}
.MySelf{
    margin-top: 0px;
    margin-left: 24px;
    margin-right: 24px;
    width: 327px;
    height: 146px;

}
.MySelf p{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin-top: 0px;
    text-align: left;
    letter-spacing: 0em;
    margin-bottom: 0px;


}

.text{
    width: 117px;
    height: 24px;
    border: 0cap;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #7F8CFF;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 8px;
    gap: 16px;




}
.image{
    width: 375px;
    height: 20px;
    top: 92px;
    padding: 114px, 24px, 114px, 24px;
    gap: 12px;
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
   

}
.work{
    width:375px;
    height: 2,788px;
    padding: 114px, 24px, 114px, 24px;
    gap:88px;
    

}
#CardWorks1{
    margin-top: 90px;
    width: 327px;
    height: 552px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid black;
    gap: 12px;
    margin-left: 12px;
    background: #FFFFFF;
    border: 1px solid #DFE1E6;

   
}
#CardWorks1 img{
    width: 295px;
    height: 220px;
    border-radius: 8px;
    margin-left: 15px;

}
#LeftBlock{
    width: 295px;
    height: 288px;
    gap: 12px;
    margin-left: 15px;
    margin-top: 4px;
}
#PrimaryText{
    width: 292px;
    height: 88px;
    gap: 12px;


}
#PrimaryText h1{
    height: 36px;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
}
#Frame2{
    width: 236px;
    height:32px;

    margin-bottom: 20px;
}
.list1{
    display: flex;
    font-family: poppins, sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    justify-content: space-between;
    width: 236px;
    height: 32px;
    margin-top: 0px;
    padding-left: 1px;
    color: #7A869A;

}
.Canopy{
    width:55px;
    height: 32px;
    padding: 8px, 0px, 8px, 0px;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    


}
.para1{
    width: 295px;
    height: 76px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.list2{
    display: flex;
    justify-content: space-between;
    width: 214px;
    height: 24px;
    gap: 8px;
    text-align: left;
    color:blue;
    margin-left: -16px;
    

}
.language{
        display: flex;
        border-radius: 5px;
        background-color: #EBEBFF;
        padding:5px;
        padding-top: 7px;
        margin-left:-24px;
        
      } 
.bt{
    
        width:126px;
        height: 48px;
        top: 12px;
        padding: 12PX;  
        gap: 10px;
        border-radius:8px;  
        border: 1px solid #6070FF;
        background-color:#FFFFFF;
        font-family: Poppins;
        font-size: 17px;
        font-weight: 800;
        line-height: 24px;
        letter-spacing: 0.03em;
        margin-top:0px;
        color: #396DF2;
        margin-top: 6px;
    
}
#CardWorks2{
    margin-top: 70px;
    width: 327px;
    height: 596px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #DFE1E6;
    gap: 12px;
   margin-left: 12px;
    justify-items: center;

}
#CardWorks2 img{
    width: 295px;
    height: 220px;
    border-radius: 8px; 
    margin-left: 12px; 

}
#LeftBlock2{
    width: 295px;
    height:332px;
    gap: 12px;
    margin-left: 12px;
    margin-top: 4px;


}

#PrimaryText2{
    width: 295px;
    height: 80px;
    gap: 12px;

}
#PrimaryText2 h1{
    font-family: Poppins;
    font-size: 40px;
    font-weight: 1000px;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #172B4D;


}
.list3{
    display: flex;
    font-family: poppins, sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    justify-content: space-between;
    width: 236px;
    height: 32px;
    margin-top: 0px;
    padding-left: 1px;
    color: #7A869A;


}



#CardWorks3{
    margin-top: 70px;
    width: 327px;
    height: 596px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #DFE1E6;
    gap: 12px;
   margin-left: 12px;
    justify-items: center;

}
#CardWorks3 img{
    width: 295px;
    height: 220px;
    border-radius: 8px; 
    margin-left: 12px;
}
#CardWorks4{
    margin-top: 70px;
    width: 327px;
    height: 596px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #DFE1E6;
    gap: 12px;
   margin-left: 12px;
    justify-items: center;

}
#CardWorks4 img{
    width: 295px;
    height: 220px;
    border-radius: 8px; 
    margin-left: 12px;

}
.AboutMySelf{
    width: 375px;
    height: 1062.15px;
    top: 3506px;
    padding: 114px, 24px, 114px, 24px;
    gap: 24px;
    margin-top:40px ;
    background-color: white;
    

}
.top h1{
    width: 327px;
    height: 35px;
    
    font-family: Poppins;
    font-size: 50px;
    font-weight: 1000px;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #172B4D;
    margin-top: -8px;



}
.top{
    width: 327px;
    height: 346px;
    gap: 12px;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 150px;

}
.top p{
    width: 327px;
    height: 147px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #344563;

}
.text1{
    width: 117px;
    height: 30px;
    border: 0cap;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #7F8CFF;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: -10px;
    gap: 16px;
    margin-left: 1px;

}
.image1{
    

    width:24px;
    height: 24px;
    padding: 8px;  
    border-radius: 8px; 
    display: flex;
    top: 2px;
    left: 2px;
    justify-items: space-between;
}
.bat{
    width: 138px;
    height: 24px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    width:162px;
    height: 48px;
    padding: 12px;  
    gap: 10px;
    border-radius: 8px; 
    border: 1px solid #6070FF;
    color:#396DF2;
    margin-top: 9px;
    background-color: WHITE;
}
.SkillSet{
    width: 327px;
    height: 464.15px;
    
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  

}
.lang{
    width: 327px;
    height: 72px;
    padding: 16px, 26px, 16px, 12px;
    
    display:flex;
}
.lang h1{
    width: 237px;
    height: 24px;
    top: 24px;
    left: 12px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 8px;



}
.lang img{
    width: 14px;
    height: 8px;
    top: 8px;
    left: 5px;
    margin-top: 26px;
    margin-left: 10px;

}

.LangguageList{
   
    padding: 9px, 12px, 9.715599060058594px, 12px;
    border-radius: 8px;
    
    width: 302px;
    height:248.15px;
    padding: 12px;   
    gap: 12px;
    margin-top: 5px;
    



}
.lang1{
    width: 302px;
    height: 66.72px;
    padding: 9px, 12px, 9.715599060058594px, 12px;
    border-radius: 8px; 
    background: #F7F7F9;
    display: flex;


}
.lang1 img{
    width: 48px;
    height: 48px;
    top: 9px;
    left: 12px;
    align-items: center;
    
    margin-top:8px;
    margin-left: 5px;

}
.lang1 h1{
    width: 215px;
    height: 24px;
    top: 21px;
    left: 76px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #253858;
    margin-top: 24px;
    margin-left: 15px;

}
.lang2{
    width: 302px;
    height: 66.72px;
    padding: 9px, 12px, 9.715599060058594px, 12px;
    border-radius: 8px; 
    background: #F7F7F9;
    display: flex;
    margin-top: 12px;;
}
.lang2 img{
    width: 48px;
    height: 48px;
    top: 9px;
    left: 12px;
    align-items: center;
    border: 1px solid #FFFFFF;
    margin-top:8px;
    margin-left: 5px;

}
.lang2 h1{
    width: 215px;
    height: 24px;
    top: 21px;
    left: 76px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #253858;
    margin-top: 24px;
    margin-left: 15px;

}
.lang3{
    width: 302px;
    height: 66.72px;
    padding: 9px, 12px, 9.715599060058594px, 12px;
    border-radius: 8px; 
    background: #F7F7F9;
    display: flex;
    margin-top: 12px;
}
.lang3 img{
    width: 48px;
    height: 48px;
    top: 9px;
    left: 12px;
    align-items: center;
    border: 1px solid #FFFFFF;
    margin-top:8px;
    margin-left: 5px;

}
.lang3 h1{
    width: 215px;
    height: 24px;
    top: 21px;
    left: 76px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500px;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #253858;
    margin-top: 24px;
    margin-left: 15px;

}
.Frame8{
    width: 327px;
    height: 72px;
    display: flex;

}
.Frame8 h1{
    width: 237px;
    height: 24px;
    top: 24px;
    left: 12px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin-left: 10px;;


}
.Frame8 img{
    width: 24px;
    height: 24px;
    padding: 5px, 7px, 5px, 9px;
    top: 5px;
    left: 9px;
    margin-top: 24px;
    margin-left: 20px;

}
.Frame9{
    display: flex;
}
.Frame9 h1{
    
        width: 237px;
        height: 24px;
        top: 24px;
        left: 12px;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        margin-left: 10px;
    
    }
.Frame9 img {

    width: 24px;
    height: 24px;
    padding: 5px, 7px, 5px, 9px;
    top: 5px;
    left: 9px;
    margin-top: 24px;
    margin-left: 20px;
}

.contact{
    margin-top: 500px;
    background-image: url(Assets/contact\ form\ shapes-mobile@2x.png);
    color: #6070FF;
    background-color: #6070FF;
    width: 375px;
    height: 650px;
     margin-top: -30px;
    border-top-left-radius: 100px;
    
}
.contact-heading{
    width: 241px;
    height: 45px;
    margin-top: -20px;
    font-family: poppins sans-serif;
    color: #FFFFFF;
    padding-left: 93px;
    padding-top: -6px;
    font-weight: 700;
    size: 40px;
    font-size: 45px;
    line-height: 52px;
    align-items: center;

}
.contact-des{
    width: 327px;
    height: 127px;
    color: #EBEBFF;
    font-weight: 400;
    size: 20px;
    font-family: poppins sans-serif;
    line-height: 20px;
    align-content: center;
    padding-left: 20px;

}
#fname{
    width: 271px;
    height: 50px;
    padding-left: 24px;
       
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
    background-color: #FFFFFF;
}
#mail{
    width: 271px;
    height: 50px;
    padding-left: 24px;
     
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 25px;
    background-color: #FFFFFF;
}
#review{
    width: 271px;
    height: 170px
    ;
    padding-left: 24px;
    padding-top: 0px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 25px;
    background-color: #FFFFFF;
}
.submit{
    width: 142px;
    height: 48px;
    margin-left: 20px;
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 10px;
    background-color: #FFFFFF;
}
.last{
    

}























